header{

    height:98px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.5);


    .headerTop{
        height:60%;
        background: yellow;

    }

    .headerBottom{
        height:40%;
    }

}


.options{
    div{
        float: left;
        height: 100%;
        
    }
}
